.form-builder {
  position: relative;
  width: 100%;
  height: calc(100% - 55px);

  .form-item-drop-list {
    padding: 2.5px 5px;
    width: 100%;
    min-height: 80px;
    background: #ffffff;
    border: 1px dashed var(--el-border-color-base);
    overflow-x: hidden;
    overflow-y: auto;

    .form-item-drop {
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--el-color-primary-light-9);
      color: var(--el-text-color-regular);
      font-size: 14px;
      font-weight: normal;
    }
  }

  .form-item {
    display: inline-block;
    padding: 0;
    width: 100%;
    line-height: 0px;
    overflow: hidden;
    vertical-align: top;

    .form-item-box {
      position: relative;
      width: 100%;
      padding: 28px 5px;
      background: var(--el-color-primary-light-9);
      color: var(--el-text-color-regular);
      overflow: hidden;
      border: 2px solid var(--el-color-primary-light-9);
      box-sizing: border-box;
      cursor: move;

      .operator {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background: var(--el-color-primary);
        z-index: 1;
        border-bottom-left-radius: 8px;

        .remove,
        .copy {
          display: inline-block;
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          color: #ffffff;
          cursor: pointer;
        }

        i {
          font-weight: bold;
        }
      }

      .info {
        display: block;
        position: absolute;
        bottom: 2px;
        right: 5px;
        height: 25px;
        line-height: 25px;
        font-size: 14px;
        color: var(--el-text-color-primary);
      }

      &.is-selected {
        border: 2px solid var(--el-color-primary);

        & > .operator {
          display: block;
        }
      }

      .el-form-item {
        margin: 0px;
      }
    }
  }

  .form-item,
  .form-item-drop {
    margin: 2.5px 0;
  }

  .root {
    height: 100%;

    & > .form-item-box {
      height: 100%;
      padding: 3px;
      margin: 0;
      cursor: default;

      .form-item-drop-list {
        height: 100%;
      }

      &.is-selected > .operator {
        display: none;
      }
    }
  }

  .form-rate {
    line-height: 2;
  }
}
