.form-operator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 5px 0;
  height: 45px;
  padding: 0 10px;
  border: 1px solid var(--el-border-color-light);
  color: var(--el-text-color-primary);
  font-size: 16px;

  .icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    font-size: 16px;

    &:hover {
      color: var(--el-color-primary);
    }
  }

  .disabled .icon {
    color: var(--el-disabled-color-base);
    cursor: not-allowed;
  }

  .icon + .icon {
    margin-left: 10px;
  }
}
