@import 'variables';

.form-setting {
  width: 100%;
  height: 100%;
  padding: 5px 10px 5px 10px;
  overflow-x: hidden;
  overflow-y: auto;

  .el-form-item__label {
    padding-right: 5px;
  }

  .CodeMirror {
    height: 100px;
  }

  .code-switch {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .svg-icon {
      width: 16px;
      height: 16px;
      margin-bottom: 22px;
      cursor: pointer;
    }
    .svg-icon.highlight {
      color: $primary-color;
    }
  }

  .option-row {
    .btn-del {
      text-align: center;
    }

    .el-icon-delete {
      cursor: pointer;
      color: $danger-color;
      font-weight: bold;
    }
  }

  .option-row + .option-row {
    margin-top: 5px;
  }
}
