@import 'variables';

.form-picker {
  height: 100%;
  padding: 5px;

  .form-item-section {
    margin-top: 10px;

    .title {
      font-weight: bold;
      margin-bottom: 10px;
      padding-left: 5px;
      color: $primary-text;
    }

    .form-item-group {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      .form-item-drop {
        width: calc(50% - 10px);
        height: 36px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $deep-light-primary-color;
        cursor: move;
        color: $normal-text;
        font-size: 14px;
        font-weight: normal;

        &.ghost {
          opacity: 0.5;
          background: #c8ebfb;
        }

        &:hover {
          color: $primary-color;
          border: 1px dashed $primary-color;
        }
      }
    }
  }
}
