@import 'form-design';
@import 'form-picker';
@import 'form-operator';
@import 'form-builder';
@import 'form-setting';
@import 'form-render';

.form-setting-interpolation {
  li {
    .value {
      float: left;
      font-size: 12px;
    }

    .label {
      float: right;
      color: #6897f2;
      font-size: 12px;
    }
  }
}

.form-design-json-box {
  overflow: auto;

  .codeMirror-tip {
    min-height: 32px;
    line-height: 32px;
    background-color: var(--el-bg-color-page);
  }

  .vue-codemirror-wrap {
    height: 300px;

    .CodeMirror-wrap {
      height: 100%;

      .CodeMirror-scroll {
        height: 100%;
        width: 100%;
      }

      pre.CodeMirror-line,
      .CodeMirror-linenumber {
        min-height: 21px;
        line-height: 21px;
      }

      .CodeMirror-sizer {
        margin-left: 35px !important;
      }

      .CodeMirror-gutter {
        min-width: 34px;
      }
    }
  }
}
