@import 'form-design';
@import 'form-picker';
@import 'form-operator';
@import 'form-builder';
@import 'form-setting';
@import 'form-render';

.form-setting-interpolation {
  li {
    .value {
      float: left;
      font-size: 12px;
    }

    .label {
      float: right;
      color: #6897f2;
      font-size: 12px;
    }
  }
}
