@import './variables.scss';

@mixin colorBtn($primary, $primary-hover, $plain-bg, $color) {
  background: $primary;
  color: $color;
  border: 1px solid $primary;
  border-radius: 3px;
  min-width: 80px;

  &:focus,
  &:hover {
    border: 1px solid $primary-hover;
    background: $primary-hover;
    color: $color;
  }

  &.is-plain {
    color: $primary;
    background: $plain-bg;
    border-color: $primary;

    &:focus,
    &:hover {
      border: 1px solid $primary;
      background: $primary;
      color: $color;
    }
  }

  &.is-disabled {
    background: $primary;
    color: $color;
    border: 1px solid $primary;
    opacity: 0.8;

    &:focus,
    &:hover,
    &:active {
      border: 1px solid $primary;
      background: $primary-hover;
      color: $color;
    }
  }
}
