// base color

$white: #ffffff;

$bg-color: #ecf5ff;

$dark-primary-color: #398de0;
$primary-color: #409eff;
$light-primary-color: #79bbff;
$deep-light-primary-color: #ecf5ff;

$primary-text: #303133;
$normal-text: #606266;
$secondary-text: #909399;

$divider-color: #d8d8d8;
$border: #dcdfe6;

$sideBarWidth: 270px;
