@import 'variables';
@import 'mixin';
@import 'transition';
@import 'element-ui';
@import 'btn';

html {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'SourceHanSansCN-Regular',
    'SourceHanSansCN', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  box-sizing: border-box;
}

body {
  min-width: 1020px;
  word-wrap: break-word;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

button,
input,
select,
textarea {
  margin: 0;
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-size: 14px;
}

label {
  font-size: 16px;
}

h1,
h2 {
  line-height: 1.3;
}

h1 {
  font-size: 16px;
  margin: 0 0 12px;
}

h2 {
  font-size: 15px;
  margin: 7.5px 15px;
}

p {
  font-size: 16px;
  margin: 2px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-0 {
  margin-bottom: 0px;
}

.pd-0 {
  padding: 0;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: inline-block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
  overflow: hidden;
  &.bg-color {
    background-color: #f0f2f5;
  }
}

.text-center {
  text-align: center;
}

.link-type,
.link-type:focus {
  color: $primary-color;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $light-primary-color;
    text-decoration: underline;
  }
}

.filter-container {
  padding: 10px 0;

  .filter-item {
    width: 200px;
  }
}

.filter-item,
.filter-btn {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  & + & {
    margin-left: 5px;
  }
}

.filter-input {
  width: 250px !important;
}

.filter-checkbox {
  margin: 0 5px 0 5px;
  display: inline-block;
  vertical-align: top;
  height: 36px;
  line-height: 36px;
}
