.form-setting {
  width: 100%;
  height: 100%;
  padding: 5px 10px 5px 10px;
  overflow-x: hidden;
  overflow-y: auto;

  .title {
    margin: 0 0 10px 0;
    height: 45px;
    line-height: 45px;
    font-weight: bold;
    padding-left: 5px;
    color: var(--el-text-color-primary);
  }

  .el-form-item__label {
    padding-right: 5px;
  }

  .code-switch {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .svg-icon {
      width: 16px;
      height: 16px;
      margin-bottom: 22px;
      cursor: pointer;
    }
    .svg-icon.highlight {
      color: var(--el-color-primary);
    }
  }

  .option-row {
    .btn-del {
      text-align: center;
    }

    .el-icon-delete {
      cursor: pointer;
      color: var(--el-color-danger);
      font-weight: bold;
      vertical-align: middle;
    }
  }

  .option-row + .option-row {
    margin-top: 5px;
  }

  .btn-submit {
    margin-top: 10px;
    text-align: center;
  }
}

.form-setting-interpolation {
  li {
    .value {
      float: left;
      font-size: 12px;
    }

    .label {
      float: right;
      color: var(--el-color-primary);
      font-size: 12px;
    }
  }
}
