.form-design {
  display: flex;
  overflow: hidden;
  height: 100%;
  min-height: 30vh;
  position: relative;

  .el-input,
  .el-input__inner,
  .el-select,
  .el-cascader,
  .el-slider {
    width: 100%;
  }

  .el-slider__marks-text {
    margin-top: 6px;
  }

  .empty {
    position: absolute;
    width: 100%;
    height: calc(100% - 45px);
    top: 60px;
    z-index: 1;
  }

  .left-container,
  .right-container {
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    flex-shrink: 0;
  }

  .left-container {
    width: 270px;
  }

  .right-container {
    width: 380px;
  }

  .center-container {
    display: flex;
    position: relative;
    flex: 1;
    padding: 5px;
    flex-direction: column;
    border-left: 1px solid var(--el-border-color-light);
    border-right: 1px solid var(--el-border-color-light);
  }
}

.form-design-code-editor {
  overflow: auto;

  .code-editor-tip {
    min-height: 32px;
    line-height: 32px;
    background-color: var(--el-bg-color-page);
  }

  .code-editor-wrap {
    height: 300px;
  }
}
