.form-picker {
  height: 100%;
  padding: 5px;

  .form-item-section {
    margin-top: 10px;

    .title {
      font-weight: bold;
      margin-bottom: 10px;
      padding-left: 5px;
      color: var(--el-text-color-primary);
    }

    .form-item-group {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      .form-item-group-item {
        width: calc(50% - 10px);
        height: 36px;
        margin: 5px;
        background: var(--el-color-primary-light-9);
        cursor: move;
        color: var(--el-text-color-regular);

        &.is-disabled {
          .form-item-drop {
            cursor: not-allowed;
            background: var(--el-disabled-bg-color);
            color: var(--el-disabled-text-color);
            border: none;
          }
        }
      }

      .form-item-drop {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: normal;
        background: var(--el-color-primary-light-9);
        color: var(--el-text-color-regular);

        &.ghost {
          opacity: 0.5;
          background: #c8ebfb;
        }

        &:hover {
          color: var(--el-color-primary);
          border: 1px dashed var(--el-color-primary);
        }
      }
    }
  }
}
